.input-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}

.input-content input[type="text"] {
    border: 2px solid #374151;
    background-color: #1A1D2D;
    border-radius: 12px;
    height: 44px;
    width: 100%;
    padding: 0 16px;
    -webkit-box-sizing: border-box;

    &::placeholder {
        color: #fff;
    }
}

.input-content select {
    border: 2px solid #374151;
    background-color: #1A1D2D;
    border-radius: 12px;
    height: 42px;
    width: 100%;
    padding-left: 15px;
    cursor: pointer;

    &::placeholder {
        color: #fff;
    }

    & option {
        cursor: pointer;
    }

}

.input-content input[type="range"] {
    accent-color: #2563EB;
}

.input-content label {
    display: flex;
    gap: 5px;
    align-items: center;
}